# ╔════════════════════════════════════════════════════╗
# ║          YAGO ADMIN - Environment Variables        ║
# ╚════════════════════════════════════════════════════╝
# 💡 Copy this file to .env and set your values

APP_NAME=YAGO
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://admin.yago.loc
VITE_DEV_SERVER_URL=http://localhost:5173

APP_LOCALE=uk
APP_FALLBACK_LOCALE=uk
APP_FAKER_LOCALE=uk-UA

# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃              Default Credential !!!                ┃
# ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┩
ADMIN_LOGIN="admin@mail.com"
ADMIN_PASSWORD="secret856"
# └────────────────────────────────────────────────────┘

APP_MAINTENANCE_DRIVER=cache
APP_MAINTENANCE_STORE=redis
# PHP_CLI_SERVER_WORKERS=4
BCRYPT_ROUNDS=12

# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                      DATABASE                      ┃
# ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┩
DB_CONNECTION_API=yago
DB_HOST_API=postgres
DB_PORT_API=5432
DB_DATABASE_API=yago
DB_USERNAME_API=app
DB_PASSWORD_API=secret

DB_CONNECTION_ADMIN=admin
DB_HOST_ADMIN=postgres
DB_PORT_ADMIN=5432
DB_DATABASE_ADMIN=admin
DB_USERNAME_ADMIN=app
DB_PASSWORD_ADMIN=secret
# └────────────────────────────────────────────────────┘

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                       REDIS                        ┃
# ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┩
REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379
# └────────────────────────────────────────────────────┘

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                    CENTRIFUGO                      ┃
# ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┩
CENTRIFUGO_TOKEN_HMAC_SECRET_KEY=bbe7d157-a253-4094-9759-06a8236543f9
CENTRIFUGO_API_KEY=d7627bb6-2292-4911-82e1-615c0ed3eebb
CENTRIFUGO_URL=http://centrifugo:8000
CENTRIFUGO_VERIFY=false

BROADCAST_DRIVER=centrifugo
BROADCAST_CONNECTION=centrifugo
# └────────────────────────────────────────────────────┘

FILESYSTEM_DISK=s3
QUEUE_CONNECTION=database

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓
# ┃                      MINIO S3                      ┃
# ┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┩
AWS_ACCESS_KEY_ID=root
AWS_SECRET_ACCESS_KEY=tJusX1DMQ0w
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=yago
AWS_USE_PATH_STYLE_ENDPOINT=true
AWS_ENDPOINT=http://minio:9000
AWS_URL=https://storage.yago.loc
# └────────────────────────────────────────────────────┘

VITE_APP_NAME="${APP_NAME}"
